body {
    width: auto;
    background-color: darkslategrey;
    justify-content: center;
}

#textToRead {
    margin: 10px;
    font-size: 22px;
    color: skyblue;
    border-radius: 6px;
    border: 1px solid skyblue;
    padding: 10px;
}
.button {
    margin: 10px;
    font-size: 22px;
    color: skyblue;
    border-radius: 6px;
    border: 1px solid skyblue;
    padding: 10px;
    background-color: darkslategrey;
    cursor:pointer;
}